{
  "env": {
    "build": {
      "presets": [
        [
          "env", {
            "modules": false,
            "targets": {
              "node": "6"
            }
          }
        ],
        "flow"
      ],
      "plugins": []
    },
    "test": {
      "presets": [
        [
          "env", {
            "targets": {
              "node": "current"
            }
          }
        ],
        "flow"
      ],
      "plugins": []
    }
  }
}
